body {
  background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2263x1600/d429fd5f8232acb3736d532157c67bd0/photo-1662476894382-088ef55f059c.jpg);
  background-repeat: no-repeat;
}

.todolist{
  display: flex;
  justify-content: center;
  width: 100%;
}

.todoListContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 5rem;
}

.todoImage{
  // position: absolute; 
  top: 0px; 
  left: 0px; 
  opacity: 1; 
  width: 5%; 
  height: 5%;
  padding: 1rem;
}

.title {
  color: rgb(255, 255, 255); 
  font-weight: 700; 
  line-height: 1.2; 
  font-size: 70px; 
  display: flex; 
  align-items: center; 
  width: 100%;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.content{
  margin-top: 20px;
  display: flex;
  width:100%;
  justify-content: space-between;
  padding-top: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

